In [1]:
import pandas as pd
from tqdm import tqdm

# Para evitar warnings
import logging
logging.getLogger('fbprophet').setLevel(logging.WARNING)

import sys
sys.path.append('../')
from src.set_functions import *

In [2]:
print("-------------------------------Cargando dataset--------------------------------")
df = pd.read_csv('../Data/2envios2018-2022.csv', parse_dates=['fecha']).sort_values(by='fecha', ascending=True)
df.head(3)

-------------------------------Cargando dataset--------------------------------

             fecha   prov_re     prov_en  envios  festivo
0       2018-01-01  A CORUÑA  PONTEVEDRA       1        1
3589374 2018-01-01    TERUEL     BADAJOZ       0        1
3590331 2018-01-01    TERUEL    ALICANTE       0        1

In [5]:
model_prophet(df)

100%|██████████| 50/50 [12:08:11<00:00, 873.83s/it]