In [1]:
import pandas as pd
from geopy.geocoders import Nominatim 
geolocator = Nominatim(user_agent="Christian")

In [2]:
df = pd.read_csv('../Data/prov_reg.csv')
df.head(4)

         reg     prov                  coordenadas_prov
0  ANDALUCIA  CORDOBA          (37.8845813, -4.7760138)
1  ANDALUCIA     JAEN  (37.9557275, -3.492055612037218)
2  ANDALUCIA   MALAGA          (36.7213028, -4.4216366)
3  ANDALUCIA  SEVILLA          (37.3886303, -5.9953403)

In [3]:
def coordenadas(x):
    location = geolocator.geocode(x)
    x = (location.latitude, location.longitude)
    return x

df['coordenadas_prov'] = df['prov'].apply(coordenadas)

In [4]:
df.head(3)

         reg     prov                  coordenadas_prov
0  ANDALUCIA  CORDOBA          (37.8845813, -4.7760138)
1  ANDALUCIA     JAEN  (37.9557275, -3.492055612037218)
2  ANDALUCIA   MALAGA          (36.7213028, -4.4216366)

In [5]:
# df.to_csv('../Data/prov_reg.csv', index=False)