In [1]:
import pandas as pd
pd.options.display.max_columns = None

import pymongo

In [2]:
# nos conectamos con Mongo
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
# vamos a chequear que bases de datos tenemos 
cliente.list_database_names()

['Ironhack', 'admin', 'alojamientos', 'config', 'local']

In [4]:
# creamos una base de datos nueva
mydb = cliente["OptimalGo"]

In [5]:
# creamos una coleccion dentro de la BBDD
coleccion = mydb.detalles

# Insertar datos

In [6]:
df = pd.read_csv("../data/dataset_fusionado.csv")
df.head(2)

,fecha,prov_re,coor_re,reg_re,prov_en,coor_en,reg_en,festivo,envios,forecast,lower_forecast,upper_forecast,trend
0,2018-01-03,A CORUÑA,"(43.3709703, -8.3959425)",GALICIA,PONTEVEDRA,"(42.6075172, -8.4714942)",GALICIA,0.0,184.0,194,168,221,149
1,2018-01-04,A CORUÑA,"(43.3709703, -8.3959425)",GALICIA,PONTEVEDRA,"(42.6075172, -8.4714942)",GALICIA,0.0,173.0,186,160,214,149

In [7]:
coleccion.insert_many(df.to_dict("records"))

In [8]:
# vamos a chequear si esta bien creada
list(coleccion.find())[3]

{'_id': ObjectId('62b6332917abce0715e69432'),
 'fecha': '2018-01-08',
 'prov_re': 'A CORUÑA',
 'coor_re': '(43.3709703, -8.3959425)',
 'reg_re': 'GALICIA',
 'prov_en': 'PONTEVEDRA',
 'coor_en': '(42.6075172, -8.4714942)',
 'reg_en': 'GALICIA',
 'festivo': 0.0,
 'envios': 198.0,
 'forecast': 201,
 'lower_forecast': 174,
 'upper_forecast': 228,
 'trend': 149}